In [39]:
import sys
import pandas as pd
import json
import os

import time
import dateutil.parser
import datetime
import gc
import requests
import numpy as np

import pprint


sys.path.insert(0, '../cli_test\API-V2-Python-examples')
import TAHMO

In [ ]:
'''
TAHMODATA:
    WEATHER_DATA: https://datahub.tahmo.org/services/measurements/v2/stations    
    WEATHER_DATA_RAW: measurements/raw   
    STATION_INFO: https://datahub.tahmo.org/services/assets/v2/stations
    DATA_COMPLETE: https://datahub.tahmo.org/custom/sensordx/latestmeasurements
    STATION_STATUS: https://datahub.tahmo.org/custom/stations/status   # this is new
    LAST_MEASUREMENT_OFFSET: 55
    USE_ONLY_ONE_MEASUREMENT: false
    ALWAYS_RETURN_TRUE: true
    STATIONS VARIABLES: https://datahub.tahmo.org/services/assets/v2/variables
'''
'''
TAHMOQC:
    BASE_URL: https://tahmorqctest.eu-de.mybluemix.net  # test https://tahmorqctest.eu-de.mybluemix.net
    SCORE_SUFFIX: /api/score
    ALL_MODELS_SUFFIX: /api/models
    SINGLE_MODEL_SUFFIX: /api/station   # /model is for getting by the model _id, not the station name
    SECRET_USER_PW: "6GUXzKi#wvDvZ"
    SECRET_USER_NAME: "SensorDxKenya"
    SAVE_SCORE_RESULTS: true

'''

In [3]:
# Constants
API_BASE_URL = 'https://datahub.tahmo.org'
API_MAX_PERIOD = '365D'
apiKey = 'SensorDxKenya'
apiSecret = '6GUXzKi#wvDvZ'
endpoints = {'VARIABLES': 'services/assets/v2/variables', # 28 different variables
             'STATION_INFO': 'services/assets/v2/stations',
             'WEATHER_DATA': 'services/measurements/v2/stations', # Configured before requesting
             'DATA_COMPLETE': 'custom/sensordx/latestmeasurements',
             'STATION_STATUS': 'custom/stations/status'}
# Precipitation variable
'''
"created": "2018-10-25T14:12:08.885918Z"
'''
api = TAHMO.apiWrapper()
api.setCredentials('SensorDxKenya', '6GUXzKi#wvDvZ')

In [4]:
def __handleApiError(apiRequest):
    json =None
    try:
        json = apiRequest.json()
    finally:
        if json and 'error' in json and 'message' in json['error']:
            print(json)
            raise Exception(json['error']['message'])
        else:
            raise Exception(f'API request failed with status code {apiRequest.status_code}')

In [5]:
def __request(endpoint, params):
    print(f'API request: {endpoint}')
    apiRequest = requests.get(f'{API_BASE_URL}/{endpoint}',
                                params=params,
                                auth=requests.auth.HTTPBasicAuth(
                                apiKey,
                                apiSecret
                            )
    )
    if apiRequest.status_code == 200:
        return apiRequest.json()
    else:
        return __handleApiError(apiRequest)

In [ ]:
var = __request(endpoints['VARIABLES'], {})
var

In [7]:
def getVariables():
    # endpoints['VARIABLES']
    response = __request(endpoints['VARIABLES'], {})
    variables = {}
    if 'data' in response and isinstance(response['data'], list):
        for element in response['data']:
            variables[element['variable']['shortcode']] = element['variable']
    return variables

In [ ]:
getVariables()

In [9]:
def getStations():
    response = __request(endpoints['STATION_INFO'], {'sort':'code'})
    stations = {}
    if 'data' in response and isinstance(response['data'], list):
        for element in response['data']:
            stations[element['code']] = element
    return stations

In [ ]:
getStations()

In [11]:
def __splitDateRange(inputStartDate, inputEndDate):
    try:
        startDate = dateutil.parser.parse(inputStartDate)
        endDate = dateutil.parser.parse(inputEndDate)
        
    except ValueError:
        raise ValueError('Invalid data parameters')
    
    # Split into intervals of 365 days
    dates = pd.date_range(start=startDate.strftime('%Y%m%d'), end=endDate.strftime('%Y%m%d'), freq=API_MAX_PERIOD)
    df = pd.DataFrame([[i, x] for i, x in
                           zip(dates, dates.shift(1) - datetime.timedelta(seconds=1))],
                          columns=['start', 'end'])

    # Set start and end date to their provided values.
    df.loc[0, 'start'] = pd.Timestamp(startDate)
    df['end'].iloc[-1] = pd.Timestamp(endDate)
    return df

In [ ]:
datess = __splitDateRange('2017-01-01', '2022-10-31')
type(datess)

In [111]:
datess

       start                 end
0 2017-01-01 2017-12-31 23:59:59
1 2018-01-01 2018-12-31 23:59:59
2 2019-01-01 2019-12-31 23:59:59
3 2020-01-01 2020-12-30 23:59:59
4 2020-12-31 2021-12-30 23:59:59
5 2021-12-31 2022-10-31 00:00:00

In [31]:
station = 'TA00211'
dataset = 'controlled'

In [ ]:
mesh = __request(f'services/measurements/v2/stations/{station}/measurements/{dataset}', {
            'start': datess['start'].dt.strftime('%Y-%m-%dT%H:%M:%SZ'),
            'end'  : datess['end'].dt.strftime('%Y-%m-%dT%H:%M:%SZ'),
            'variable': 'pr'
        })
type(mesh)

In [33]:
df = pd.DataFrame(mesh['results'][0]['series'][0]['values'], columns=mesh['results'][0]['series'][0]['columns'])

In [ ]:
comb = []
count =1
for index, row in datess.iterrows():
    print(count)
    mesh = __request(f'services/measurements/v2/stations/{station}/measurements/{dataset}', {
            'start': row['start'].strftime('%Y-%m-%dT%H:%M:%SZ'),
            'end'  : row['end'].strftime('%Y-%m-%dT%H:%M:%SZ'),
            'variable': 'pr'
        })
    if count > 1:
        df_c = pd.DataFrame(mesh['results'][0]['series'][0]['values'], columns=mesh['results'][0]['series'][0]['columns'])
        df2 = pd.concat([df_comb, df_c], axis=1)
        
    else:
        df_comb =  pd.DataFrame(mesh['results'][0]['series'][0]['values'], columns=mesh['results'][0]['series'][0]['columns'])
        count += 1

In [19]:
df2.to_csv('in.csv', index=False)

In [20]:
pd.DataFrame(comb)

Empty DataFrame
Columns: []
Index: []

In [38]:
api.getMeasurements('TA00371', '2017-01-01', '2022-10-31', variables=['pr'], dataset='controlled')

API request: services/measurements/v2/stations/TA00371/measurements/controlled
API request: services/measurements/v2/stations/TA00371/measurements/controlled
API request: services/measurements/v2/stations/TA00371/measurements/controlled
API request: services/measurements/v2/stations/TA00371/measurements/controlled
API request: services/measurements/v2/stations/TA00371/measurements/controlled
API request: services/measurements/v2/stations/TA00371/measurements/controlled

                              pr
2018-02-01 13:20:00+00:00  0.017
2018-02-01 13:25:00+00:00  0.000
2018-02-01 13:30:00+00:00  0.000
2018-02-01 13:35:00+00:00  0.000
2018-02-01 13:40:00+00:00  0.000
...                          ...
2019-02-16 03:45:00+00:00    NaN
2019-02-16 03:50:00+00:00    NaN
2019-02-16 03:55:00+00:00    NaN
2019-02-16 04:00:00+00:00    NaN
2019-02-16 04:05:00+00:00    NaN

[104250 rows x 1 columns]

In [21]:
api.getMeasurements(station, '2017-01-01', '2022-10-31', variables=['pr'], dataset='controlled')

API request: services/measurements/v2/stations/TA00211/measurements/controlled
API request: services/measurements/v2/stations/TA00211/measurements/controlled
API request: services/measurements/v2/stations/TA00211/measurements/controlled
API request: services/measurements/v2/stations/TA00211/measurements/controlled
API request: services/measurements/v2/stations/TA00211/measurements/controlled
API request: services/measurements/v2/stations/TA00211/measurements/controlled
Split observations for pr per sensor

                           pr_S001778  pr_S001667  pr_S000215
2017-09-08 09:50:00+00:00         NaN         NaN         NaN
2017-09-08 09:55:00+00:00         NaN         NaN         NaN
2017-09-08 10:00:00+00:00         NaN         NaN         NaN
2017-09-08 10:05:00+00:00         NaN         NaN         NaN
2017-09-08 10:10:00+00:00         NaN         NaN         0.0
...                               ...         ...         ...
2022-10-30 23:40:00+00:00         0.0         NaN         NaN
2022-10-30 23:45:00+00:00         0.0         NaN         NaN
2022-10-30 23:50:00+00:00         0.0         NaN         NaN
2022-10-30 23:55:00+00:00         0.0         NaN         NaN
2022-10-31 00:00:00+00:00         0.0         NaN         NaN

[477612 rows x 3 columns]

In [22]:
df[df['variable'] == 'pr'].duplicated().any()

False

In [108]:
def getMeasurements(station, startDate=None, endDate=None, variables=None, dataset='controlled'):
    endpoints = f'services/measurements/v2/stations/{station}/measurements/{dataset}'
    datesplit = __splitDateRange(startDate, endDate)
    series = []
    seriesHolder = {}

    # retrieving the rows for the dates 
    for index, row in datesplit.iterrows():
        params = {
            'start': row['start'].strftime('%Y-%m-%dT%H:%M:%SZ'),
            'end'  : row['end'].strftime('%Y-%m-%dT%H:%M:%SZ')
        }
        if variables and isinstance(variables, list) and len(variables) == 1:
            params['variable'] = variables[0]
        response = __request(endpoints, params)

        # checking for values within the json
        if 'results' in response and len(response['results']) >= 1 and 'series' in response[
            'results'][0] and len(response['results'][0]['series']) >= 1 and 'values' in response['results'
            ][0]['series'][0]:
            # values stored in result key series, values

            for result in response['results']:
                if 'series' in result and len(result['series']) >= 1 and 'values' in result['series'][0]:
                    for serie in result['series']:
                        columns = serie['columns']
                        observations = serie['values']

                        time_index = columns.index('time')
                        quality_index = columns.index('quality')
                        variable_index = columns.index('variable')
                        sensor_index = columns.index('sensor')
                        value_index = columns.index('value')

                        # Create list of unique variables within the retrieved observations.
                        if not isinstance(variables, list) or len(variables) == 0:
                            shortcodes = list(set(list(map(lambda x: x[variable_index], observations))))
                        else:
                            shortcodes = variables
                        
                        for shortcode in shortcodes:
    
                            # Create list of timeserie elements for this variable with predefined format [time, value, sensor, quality].
                            timeserie = list(map(lambda x: [x[time_index], x[value_index] if x[quality_index] == 1 else np.nan, x[sensor_index], x[quality_index]],
                                                    list(filter(lambda x: x[variable_index] == shortcode, observations))))
                            
                            if shortcode in seriesHolder:
                                seriesHolder[shortcode] = seriesHolder[shortcode] + timeserie
                            else:
                                seriesHolder[shortcode] = timeserie
                                
                            # Clean up scope.
                            del timeserie

                        # Clean up scope.
                        del columns
                        del observations
                        del shortcodes

                # Clean up scope and free memory.
            del response
            gc.collect()
    for shortcode in seriesHolder:

        # Check if there are duplicate entries in this timeseries (multiple sensors for same variable).
        # [time, value, sensor, quality]
        timestamps = list(map(lambda x: x[0], seriesHolder[shortcode]))
        
        def element_1(x):
            return x[1],x[3]
        # if multiple sensors
        if len(timestamps) > len(set(timestamps)):
            # Split observation per sensor
            print('Split observations for %s per sensor' % shortcode)
            sensors = list(set(list(map(lambda x: x[2], seriesHolder[shortcode]))))

            for sensor in sensors:
                sensorSerie = list(filter(lambda x: x[2] == sensor, seriesHolder[shortcode]))
                timestamps = list(map(lambda x: pd.Timestamp(x[0]), sensorSerie))
                values = list(map(lambda x: x[1], sensorSerie))
                flags = list(map(lambda x: x[3], sensorSerie))
                # print(sensorSerie)
                flags_vals = list(map(element_1, sensorSerie))

                code = list(map(lambda x: x[0], flags_vals))
                quality = list(map(lambda x: x[1], flags_vals))

                code_series = pd.Series(code, index=pd.DatetimeIndex(timestamps))
                quality_series = pd.Series(quality, index=pd.DatetimeIndex(timestamps))

                serie = pd.Series(flags_vals, index=pd.DatetimeIndex(timestamps))

                both = pd.concat(objs=[code_series, quality_series], axis=1)
                both.columns = [f'{shortcode}_{sensor}', 'Quality']
                
                # series.append(serie.to_frame('%s_%s' % (shortcode, sensor)))
                series.append(both)

                # Clean up scope.
                del sensorSerie
                del timestamps
                del values
                del serie
        else:
            values = list(map(element_1, seriesHolder[shortcode]))
            serie = pd.Series(values, index=pd.DatetimeIndex(timestamps))

            code = list(map(lambda x: x[0], values))
            quality = list(map(lambda x: x[1], values))

            code_series = pd.Series(code, index=pd.DatetimeIndex(timestamps))
            quality_series = pd.Series(quality, index=pd.DatetimeIndex(timestamps))

            both = pd.concat(objs=[code_series, quality_series], axis=1)
            both.columns = [f'{shortcode}_{list(set(list(map(lambda x: x[2], seriesHolder[shortcode]))))[0]}', 'Quality']
            
            # series.append(serie.to_frame('%s_%s' % (shortcode, sensor)))
            series.append(both)

            # Clean up scope.
            del values
            del serie

        # Clean up memory.
        gc.collect()

    # # Clean up.
    del seriesHolder
    gc.collect()

    # Merge all series together.
    if len(series) > 0:
        df = pd.concat(series, axis=1, sort=True)
    else:
        df = pd.DataFrame()

    # Clean up memory.
    del series
    gc.collect()

    return df

In [103]:
getMeasurements(station, '2017-01-01', '2022-10-31', variables=['pr'], dataset='controlled')

API request: services/measurements/v2/stations/TA00211/measurements/controlled
API request: services/measurements/v2/stations/TA00211/measurements/controlled
API request: services/measurements/v2/stations/TA00211/measurements/controlled
API request: services/measurements/v2/stations/TA00211/measurements/controlled
API request: services/measurements/v2/stations/TA00211/measurements/controlled
API request: services/measurements/v2/stations/TA00211/measurements/controlled
Split observations for pr per sensor

,pr_S001778,Quality,pr_S001667,Quality,pr_S000215,Quality
2017-09-08 09:50:00+00:00,NaN,NaN,NaN,NaN,NaN,4.0
2017-09-08 09:55:00+00:00,NaN,NaN,NaN,NaN,NaN,4.0
2017-09-08 10:00:00+00:00,NaN,NaN,NaN,NaN,NaN,4.0
2017-09-08 10:05:00+00:00,NaN,NaN,NaN,NaN,NaN,4.0
2017-09-08 10:10:00+00:00,NaN,NaN,NaN,NaN,0.0,1.0
...,...,...,...,...,...,...
2022-10-30 23:40:00+00:00,0.0,1.0,NaN,NaN,NaN,NaN
2022-10-30 23:45:00+00:00,0.0,1.0,NaN,NaN,NaN,NaN
2022-10-30 23:50:00+00:00,0.0,1.0,NaN,NaN,NaN,NaN
2022-10-30 23:55:00+00:00,0.0,1.0,NaN,NaN,NaN,NaN
2022-10-31 00:00:00+00:00,0.0,1.0,NaN,NaN,NaN,NaN

In [109]:
st_371 = getMeasurements('TA00371', '2017-01-01', '2022-10-31', variables=['pr'], dataset='controlled')
st_371

API request: services/measurements/v2/stations/TA00371/measurements/controlled
API request: services/measurements/v2/stations/TA00371/measurements/controlled
API request: services/measurements/v2/stations/TA00371/measurements/controlled
API request: services/measurements/v2/stations/TA00371/measurements/controlled
API request: services/measurements/v2/stations/TA00371/measurements/controlled
API request: services/measurements/v2/stations/TA00371/measurements/controlled

                           pr_S000380  Quality
2018-02-01 13:20:00+00:00       0.017        1
2018-02-01 13:25:00+00:00       0.000        1
2018-02-01 13:30:00+00:00       0.000        1
2018-02-01 13:35:00+00:00       0.000        1
2018-02-01 13:40:00+00:00       0.000        1
...                               ...      ...
2019-02-16 03:45:00+00:00         NaN        4
2019-02-16 03:50:00+00:00         NaN        4
2019-02-16 03:55:00+00:00         NaN        4
2019-02-16 04:00:00+00:00         NaN        4
2019-02-16 04:05:00+00:00         NaN        4

[104250 rows x 2 columns]

In [79]:
sd = [1, '(0, 4)']
sdf = list(eval(sd[1]))
sdf[0]

0

In [25]:
stations_list = [i for i in list(getStations()) if i[1] != 'H']
stations_list

API request: services/assets/v2/stations

['TA00001',
 'TA00002',
 'TA00003',
 'TA00004',
 'TA00005',
 'TA00006',
 'TA00007',
 'TA00008',
 'TA00009',
 'TA00010',
 'TA00011',
 'TA00012',
 'TA00013',
 'TA00014',
 'TA00015',
 'TA00016',
 'TA00018',
 'TA00019',
 'TA00020',
 'TA00021',
 'TA00022',
 'TA00023',
 'TA00024',
 'TA00025',
 'TA00026',
 'TA00027',
 'TA00028',
 'TA00029',
 'TA00030',
 'TA00031',
 'TA00032',
 'TA00033',
 'TA00034',
 'TA00035',
 'TA00036',
 'TA00037',
 'TA00038',
 'TA00039',
 'TA00040',
 'TA00041',
 'TA00042',
 'TA00043',
 'TA00044',
 'TA00045',
 'TA00046',
 'TA00047',
 'TA00048',
 'TA00049',
 'TA00050',
 'TA00051',
 'TA00052',
 'TA00054',
 'TA00056',
 'TA00057',
 'TA00060',
 'TA00061',
 'TA00062',
 'TA00063',
 'TA00064',
 'TA00065',
 'TA00066',
 'TA00067',
 'TA00068',
 'TA00069',
 'TA00070',
 'TA00071',
 'TA00072',
 'TA00073',
 'TA00074',
 'TA00075',
 'TA00076',
 'TA00077',
 'TA00078',
 'TA00079',
 'TA00080',
 'TA00082',
 'TA00083',
 'TA00084',
 'TA00085',
 'TA00088',
 'TA00089',
 'TA00090',
 'TA00091',
 'TA00092',
 'TA00093',
 'TA00094',
 'TA00095',
 'TA00096',
 'TA00098',
 'TA00099',
 'TA00100',
 'TA00101',
 'TA00102',
 'TA00103',
 'TA00104',
 'TA00105',
 'TA00108',
 'TA00109',
 'TA00110',
 'TA00111',
 'TA00112',
 'TA00113',
 'TA00114',
 'TA00115',
 'TA00116',
 'TA00117',
 'TA00118',
 'TA00119',
 'TA00120',
 'TA00121',
 'TA00122',
 'TA00123',
 'TA00124',
 'TA00125',
 'TA00126',
 'TA00127',
 'TA00128',
 'TA00129',
 'TA00130',
 'TA00131',
 'TA00132',
 'TA00133',
 'TA00134',
 'TA00135',
 'TA00136',
 'TA00137',
 'TA00138',
 'TA00140',
 'TA00141',
 'TA00144',
 'TA00146',
 'TA00147',
 'TA00148',
 'TA00149',
 'TA00150',
 'TA00151',
 'TA00152',
 'TA00153',
 'TA00154',
 'TA00155',
 'TA00156',
 'TA00157',
 'TA00158',
 'TA00159',
 'TA00160',
 'TA00161',
 'TA00162',
 'TA00163',
 'TA00164',
 'TA00165',
 'TA00166',
 'TA00167',
 'TA00168',
 'TA00169',
 'TA00170',
 'TA00171',
 'TA00172',
 'TA00173',
 'TA00174',
 'TA00175',
 'TA00176',
 'TA00178',
 'TA00179',
 'TA00180',
 'TA00181',
 'TA00182',
 'TA00183',
 'TA00184',
 'TA00185',
 'TA00186',
 'TA00187',
 'TA00188',
 'TA00189',
 'TA00190',
 'TA00192',
 'TA00194',
 'TA00195',
 'TA00196',
 'TA00197',
 'TA00198',
 'TA00199',
 'TA00200',
 'TA00201',
 'TA00202',
 'TA00203',
 'TA00204',
 'TA00205',
 'TA00206',
 'TA00207',
 'TA00208',
 'TA00209',
 'TA00210',
 'TA00211',
 'TA00212',
 'TA00213',
 'TA00214',
 'TA00215',
 'TA00216',
 'TA00217',
 'TA00218',
 'TA00219',
 'TA00220',
 'TA00221',
 'TA00222',
 'TA00223',
 'TA00224',
 'TA00225',
 'TA00226',
 'TA00227',
 'TA00228',
 'TA00229',
 'TA00230',
 'TA00231',
 'TA00232',
 'TA00233',
 'TA00234',
 'TA00236',
 'TA00237',
 'TA00238',
 'TA00239',
 'TA00240',
 'TA00241',
 'TA00242',
 'TA00243',
 'TA00244',
 'TA00245',
 'TA00246',
 'TA00247',
 'TA00248',
 'TA00249',
 'TA00250',
 'TA00251',
 'TA00253',
 'TA00254',
 'TA00255',
 'TA00256',
 'TA00257',
 'TA00258',
 'TA00259',
 'TA00260',
 'TA00261',
 'TA00262',
 'TA00264',
 'TA00265',
 'TA00266',
 'TA00267',
 'TA00268',
 'TA00269',
 'TA00270',
 'TA00271',
 'TA00272',
 'TA00273',
 'TA00274',
 'TA00275',
 'TA00276',
 'TA00277',
 'TA00278',
 'TA00279',
 'TA00280',
 'TA00281',
 'TA00282',
 'TA00283',
 'TA00284',
 'TA00285',
 'TA00286',
 'TA00287',
 'TA00288',
 'TA00289',
 'TA00290',
 'TA00291',
 'TA00292',
 'TA00293',
 'TA00294',
 'TA00295',
 'TA00296',
 'TA00299',
 'TA00300',
 'TA00301',
 'TA00302',
 'TA00303',
 'TA00304',
 'TA00305',
 'TA00307',
 'TA00308',
 'TA00309',
 'TA00310',
 'TA00312',
 'TA00313',
 'TA00314',
 'TA00315',
 'TA00316',
 'TA00317',
 'TA00318',
 'TA00319',
 'TA00320',
 'TA00321',
 'TA00322',
 'TA00323',
 'TA00324',
 'TA00325',
 'TA00326',
 'TA00327',
 'TA00328',
 'TA00329',
 'TA00330',
 'TA00331',
 'TA00332',
 'TA00333',
 'TA00334',
 'TA00335',
 'TA00336',
 'TA00337',
 'TA00338',
 'TA00339',
 'TA00340',
 'TA00341',
 'TA00342',
 'TA00343',
 'TA00344',
 'TA00345',
 'TA00346',
 'TA00347',
 'TA00348',
 'TA00349',
 'TA00350',
 'TA00351',
 'TA00352',
 'TA00353',
 'TA00354',
 'TA00355',
 'TA00356',
 'TA00358',
 'TA00359',
 'TA00360',
 'TA00361',
 'TA00362',
 'TA00363',
 'TA00364',
 'TA00365',
 'TA00366',
 'TA00367',
 'TA00368',
 'TA00369',
 'TA00370',
 'TA00371',
 'TA00372',
 'TA00373',
 'TA00374',
 'TA00375',
 'TA00376',
 'TA00377',
 'TA00378',
 'TA00379',
 'TA00380',
 'TA00381',
 'TA00382',
 'TA00383',
 'TA00384',
 'TA00385',
 'TA00386',
 'TA00387',
 'TA00388',
 'TA00389',
 'TA00390',
 'TA00391',
 'TA00392',
 'TA00393',
 'TA00394',
 'TA00395',
 'TA00396',
 'TA00397',
 'TA00398',
 'TA00399',
 'TA00403',
 'TA00404',
 'TA00405',
 'TA00406',
 'TA00407',
 'TA00408',
 'TA00409',
 'TA00410',
 'TA00411',
 'TA00413',
 'TA00414',
 'TA00416',
 'TA00422',
 'TA00429',
 'TA00430',
 'TA00431',
 'TA00432',
 'TA00433',
 'TA00434',
 'TA00435',
 'TA00436',
 'TA00437',
 'TA00438',
 'TA00439',
 'TA00440',
 'TA00441',
 'TA00442',
 'TA00444',
 'TA00445',
 'TA00446',
 'TA00447',
 'TA00448',
 'TA00451',
 'TA00453',
 'TA00454',
 'TA00457',
 'TA00458',
 'TA00459',
 'TA00460',
 'TA00461',
 'TA00462',
 'TA00464',
 'TA00465',
 'TA00466',
 'TA00467',
 'TA00468',
 'TA00469',
 'TA00470',
 'TA00471',
 'TA00473',
 'TA00479',
 'TA00480',
 'TA00482',
 'TA00483',
 'TA00484',
 'TA00485',
 'TA00486',
 'TA00487',
 'TA00493',
 'TA00494',
 'TA00495',
 'TA00508',
 'TA00509',
 'TA00510',
 'TA00511',
 'TA00512',
 'TA00514',
 'TA00518',
 'TA00519',
 'TA00520',
 'TA00522',
 'TA00523',
 'TA00524',
 'TA00525',
 'TA00526',
 'TA00527',
 'TA00528',
 'TA00529',
 'TA00530',
 'TA00531',
 'TA00532',
 'TA00533',
 'TA00534',
 'TA00535',
 'TA00536',
 'TA00537',
 'TA00538',
 'TA00539',
 'TA00541',
 'TA00542',
 'TA00543',
 'TA00546',
 'TA00547',
 'TA00548',
 'TA00549',
 'TA00550',
 'TA00551',
 'TA00559',
 'TA00560',
 'TA00561',
 'TA00562',
 'TA00565',
 'TA00567',
 'TA00568',
 'TA00569',
 'TA00570',
 'TA00573',
 'TA00574',
 'TA00577',
 'TA00579',
 'TA00580',
 'TA00581',
 'TA00582',
 'TA00583',
 'TA00584',
 'TA00586',
 'TA00587',
 'TA00588',
 'TA00589',
 'TA00590',
 'TA00591',
 'TA00592',
 'TA00593',
 'TA00594',
 'TA00595',
 'TA00601',
 'TA00602',
 'TA00603',
 'TA00607',
 'TA00608',
 'TA00609',
 'TA00611',
 'TA00612',
 'TA00614',
 'TA00615',
 'TA00616',
 'TA00617',
 'TA00618',
 'TA00619',
 'TA00620',
 'TA00621',
 'TA00622',
 'TA00623',
 'TA00624',
 'TA00625',
 'TA00626',
 'TA00627',
 'TA00628',
 'TA00629',
 'TA00630',
 'TA00631',
 'TA00632',
 'TA00633',
 'TA00634',
 'TA00635',
 'TA00636',
 'TA00637',
 'TA00638',
 'TA00639',
 'TA00640',
 'TA00641',
 'TA00642',
 'TA00643',
 'TA00644',
 'TA00646',
 'TA00647',
 'TA00648',
 'TA00649',
 'TA00650',
 'TA00651',
 'TA00652',
 'TA00653',
 'TA00654',
 'TA00655',
 'TA00656',
 'TA00657',
 'TA00658',
 'TA00659',
 'TA00660',
 'TA00663',
 'TA00664',
 'TA00665',
 'TA00666',
 'TA00670',
 'TA00671',
 'TA00672',
 'TA00673',
 'TA00674',
 'TA00675',
 'TA00676',
 'TA00677',
 'TA00678',
 'TA00679',
 'TA00680',
 'TA00682',
 'TA00683',
 'TA00684',
 'TA00685',
 'TA00686',
 'TA00687',
 'TA00688',
 'TA00689',
 'TA00690',
 'TA00691',
 'TA00692',
 'TA00693',
 'TA00694',
 'TA00695',
 'TA00696',
 'TA00697',
 'TA00698',
 'TA00699',
 'TA00700',
 'TA00701',
 'TA00702',
 'TA00703',
 'TA00704',
 'TA00705',
 'TA00706',
 'TA00707',
 'TA00708',
 'TA00709',
 'TA00710',
 'TA00711',
 'TA00712',
 'TA00713',
 'TA00714',
 'TA00715',
 'TA00716',
 'TA00717',
 'TA00718',
 'TA00719',
 'TA00720',
 'TA00721',
 'TA00722',
 'TA00723',
 'TA00724',
 'TA00725',
 'TA00726',
 'TA00727',
 'TA00728',
 'TA00729',
 'TA00730',
 'TA00731',
 'TA00732',
 'TA00733',
 'TA00734',
 'TA00735',
 'TA00736',
 'TA00737',
 'TA00738',
 'TA00739',
 'TA00740',
 'TA00741',
 'TA00742',
 'TA00743',
 'TA00744',
 'TA00745',
 'TA00746',
 'TA00747',
 'TA00748',
 'TA00749',
 'TA00750',
 'TA00751',
 'TA00752',
 'TA00753',
 'TA00754',
 'TA00755',
 'TA00756',
 'TA00757',
 'TA00758',
 'TA00759',
 'TA00760',
 'TA00761',
 'TA00762',
 'TA00763',
 'TA00764',
 'TA00765',
 'TA00766',
 'TA00767',
 'TA00768',
 'TA00769',
 'TA00770',
 'TA00771',
 'TA00772',
 'TA00773',
 'TA00774',
 'TA00775',
 'TA00776',
 'TA00777',
 'TA00778',
 'TA00779',
 'TA00780',
 'TA00781',
 'TA00782',
 'TA00783',
 'TA00784',
 'TA00785',
 'TA00786',
 'TA00787',
 'TA00788',
 'TA00789',
 'TA00790']

In [26]:
len(stations_list)

676